.aboutNexarbBox {
    display: flex;
    justify-content: center;
}

.aboutNexarbBoxContent {
    width: 734px;
    height: 140px;
    margin-top: 15vh;
    text-align: center;
}

.aboutNexarbBoxContentHeader {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
}

.featureBoxContent {
    justify-content: center;
    text-align: center;
    width: 266px;
    height: 279px;
}

.featureBoxContentHeader {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.featureBoxIcon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}